# Explore Wikipedia Edits

# 3_Explore_Wikipedia_Edits.ipynb

# Import libraries

1. pandas - Python Data Analysis Library
2. numpy - Numerical Python

In [2]:
import pandas as pd
import numpy as np

# Read in a data from CSV file

In [6]:
fn = "../input/wikipedia_edits.csv.zip"
df = pd.read_csv(fn)

# Check counts

Count unique Wikipedia edits - indexed by revid

In [7]:
len(pd.unique(df['revid']))
#equal to the no. of rows in dataframe, as expected

789343

Count unique Wikipedia edits

In [9]:
len(pd.unique(df['title']))
# equal to the no. of Forbes celebrity List recipients, as expected

82

Count unique users

In [10]:
len(pd.unique(df['user']))

204528

In [11]:
len(pd.unique(df['userid']))

69829

Some investigation on users:

In [14]:
df['user'].value_counts().head

<bound method NDFrame.head of GabeMc            4584
Popeye191         4560
SNUGGUMS          4493
Andreasegde       4250
ClueBot NG        2940
                  ...
67.101.59.85         1
72.138.226.185       1
217.87.202.68        1
Gigamaligabyte       1
Pagasaeus            1
Name: user, Length: 204527, dtype: int64>

In [16]:
df['userid'].value_counts().head
# For anonymous users, userid = 0

<bound method NDFrame.head of 0.0           243105
11243047.0      4584
6138283.0       4560
19269270.0      4493
1228034.0       4250
               ...
15762863.0         1
6666348.0          1
1666599.0          1
3940512.0          1
4422919.0          1
Name: userid, Length: 69828, dtype: int64>

In [19]:
df[df["userid"]==0].head()
# For anonymous users, user = IP address

,title,parentid,revid,timestamp,user,userid,size,recipient,year,rank,country,career,tied
2643,50_Cent,219167675,219176128,2008-06-13T22:43:27Z,209.161.4.106,0.0,48386,50 Cent,2006,8,United States,Musician,0
2645,50_Cent,219161723,219167119,2008-06-13T21:46:42Z,65.78.203.162,0.0,49406,50 Cent,2006,8,United States,Musician,0
2649,50_Cent,219119959,219120271,2008-06-13T17:44:54Z,70.109.117.173,0.0,613,50 Cent,2006,8,United States,Musician,0
2650,50_Cent,219112543,219119959,2008-06-13T17:43:22Z,70.109.117.173,0.0,49436,50 Cent,2006,8,United States,Musician,0
2652,50_Cent,219111996,219112512,2008-06-13T17:00:52Z,75.3.141.196,0.0,49427,50 Cent,2006,8,United States,Musician,0

Q: Which celebrities have the most number of Wikipedia edits?

In [22]:
df['title'].value_counts().head()

Roger_Federer     24641
Britney_Spears    24640
The_Beatles       23342
Beyonce           20811
Eminem            19899
Name: title, dtype: int64

In [23]:
df['title'].value_counts().tail()

Kylie_Jenner       3056
Judy_Sheindlin     2762
Phil_McGraw        2638
Paula_Deen         2563
James_Patterson    2543
Name: title, dtype: int64